/* .register-container {
  font-family: "Arial", sans-serif;
  background-color: #ebebeb !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  font-size: 16px;
  flex-direction: column;
}

.register-container .form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.register-container h1 {
  margin: 0 0 5px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.register-container label {
  display: block;
  font-size: 16px;
  margin-bottom: 0px;
}

.register-container input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.register-container p {
  color: #e3342f;
  margin: 0 0 10px;
  font-size: 14px;
  max-width: 100%;
}

.register-container button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3490dc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.register-container button:hover {
  background-color: #2779bd;
} */
